.btn {
  font-weight: bold;
  padding: 10px 15px;
  border: 2px solid cadetblue;
  margin-right: 30px;
  border-radius: 0px;
  color: white;
  transition: 0.2s linear;
  border: 0;
  &:hover {
    box-shadow: 0px -6px 0 #0d6060 inset;
    color: #0d6060;
  }
}
