.modal {
  color: white;
  z-index: 2;
  width: 600px;
  height: 280px;
  background-color: rgb(234, 49, 49);
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%);
  .title{
margin: 0;
  }
  .headerWrap{
   background-color: darkred;
   width: 100%;
   padding-top: 10px;
   padding-bottom: 10px;
  
  }

  .buttonClose {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: transparent;
    color: white;
    border: 0;
    &:hover {
      background-color: darkcyan;
    }
  }
  .headerWrap {
    position: relative;
  }
}
.text{
  margin-top: 30px;
  margin-bottom: 30px;
}
.firstModalBtn {
  background-color: darkred;
  color: white;
  border-radius: 10px;
  border: 0;
  width: 120px;
  height: 45px;
  margin-right: 5px;
  margin-left: 5px;
  &:hover {
    color: white;
    background-color: darkcyan;
  }
}

.secondModalBtn {
  border-radius: 10px;
  color: white;
  transition: 0.2s linear;
  background-color: cadetblue;
  border: 0;
   margin-right: 5px;
   margin-left: 5px;
  width: 105px;
  height: 45px;
  &:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px darkolivegreen;
  }
}

.overlay {
  background: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
}
